
body {
    padding: 0;
    margin: 0;
    background-image:url("./Images/4840.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Arial', sans-serif;
    font-weight: 300;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa:hover {
  opacity: 0.7;
}

.fa-instagram {
  background: #2e2e2e88;
  color: white;
}
.aboutme-container {
    min-height: 50vh;
    font-size: 2em;
}

.aboutme {
    margin: 25vh auto;
    padding: 1em;
    text-align: center;
    width: 75%;
    min-width: 300px;
    background-color: rgba(255, 172, 95, 0.363);

}

@media (max-width: 865px) {
    .-container {
        font-size: 1.5em;
    }
}
.story-container {
    min-height: 50vh;
    font-size: 2em;
}

.story {
    margin: 25vh auto;
    padding: 1em;
    text-align: center;
    width: 75%;
    min-width: 300px;
    background-color: rgba(255, 172, 95, 0.363);

}

@media (max-width: 865px) {
    .story-container {
        font-size: 1.5em;
    }
}
.title {
    font-size: 22pt;
    color: #ffffff;
    margin: 170px auto 0 auto;
    padding: 2em;
    max-width: 75%;
    text-align: center;
    background-color: rgba(255, 172, 95, 0.363);
}
.title h1 {
    font-family: 'Stylish', sans-serif;
    font-size: 2.5em;
    letter-spacing: 0.2em;
}

.title h2 {
    font-family: 'Stylish', sans-serif;
    font-weight: 300;
    font-style: italic;
    line-height: 1.3em;
}

hr {
  border: none;
  height: 5px;
  background-color: rgb(0, 0, 0);
  max-width: 60%;
  margin: 2em auto;
}