body{
    background-color:#ffb09c;
}
h1 {
    font-family: "Bona Nova SC", serif;
    font-size: 3em;
    letter-spacing: 0.2em;
	text-align: center;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 30%;
  height: auto;
}
form {
  background-color: #ffefea;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #290000;
  width: 50%; 
  margin: 0 auto; 
  text-align: center;
}

fieldset {
  border: none;
  padding: 0;
}
label {
  font-size: 1rem; 
  margin-top: 25px; 
}
button {
  margin-top: 20px;
  background-color: #900000;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #ee2400;
}    
.divTable{
	display: table;
	width: 90%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
  	border: 1px solid #290000;
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-family: "Bona Nova SC", serif;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-family: "Bona Nova SC", serif;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}
.bona-nova-sc-regular {
  font-family: "Bona Nova SC", serif;
  font-weight: 400;
  font-style: normal;
}

.bona-nova-sc-bold {
  font-family: "Bona Nova SC", serif;
  font-weight: 700;
  font-style: normal;
}

.bona-nova-sc-regular-italic {
  font-family: "Bona Nova SC", serif;
  font-weight: 400;
  font-style: italic;
}

.endInformation {
	font-family: "Bona Nova SC", serif;
	font-weight: bold;
	text-align: center;
}