body {
    padding: 0;
    margin: 0;
    background-image: "Hw2/Images/4840.png";
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Arial', sans-serif;
    font-weight: 300;
}
.container {
  position: relative;
}
.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 50px;
  padding-right: 50px;
}
