body {
    padding: 0;
    margin: 0;
    background-image: url("4840.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Arial', sans-serif;
    font-weight: 300;
}

