h1 {
    font-family: 'Garamond', serif;
    color:#ffffff
}

.p2 {
    font-family: "Lucida Console", "Courier New", monospace;
    color:#ffffff
}

#question {
    font-family: "Lucida Console", "Courier New", monospace;
    color:#ffffff
}